@{
    Layout = "~/Views/Shared/_LayoutAuthentication.cshtml";
}
<div class="App">
    <div class="layout">
        <nav>
            <a aria-label="Go to home"
               class="active"
               href="/"
               aria-current="page">
                <img src="~/logomark.svg" alt="" height="30" />
                <span>HomeBudget</span>
            </a>
        </nav>
        <main>
            <div class="intro">
                <div>
                    <h1>
                        Take Control of
                        <span class="accent">Your Money</span>
                    </h1>
                    <p>
                        Personal budgeting is the secret to financial freedom. Start
                        your journey today.
                    </p>
                    <form>
                        <input type="text"
                               name="Email"
                               required=""
                               placeholder="Email"
                               aria-label="Your Email"
                               autocomplete="off" 
                               id="email"
                               />
                        <input type="password"
                               name="Password"
                               required=""
                               placeholder="******"
                               aria-label="Your Password"
                               autocomplete="off" 
                               id="password"/>
                        <button type="button" class="btn btn-dark" id="login">
                            <span>Create Account</span>
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 24 24"
                                 fill="currentColor"
                                 aria-hidden="true"
                                 width="20">
                                <path d="M6.25 6.375a4.125 4.125 0 118.25 0 4.125 4.125 0 01-8.25 0zM3.25 19.125a7.125 7.125 0 0114.25 0v.003l-.001.119a.75.75 0 01-.363.63 13.067 13.067 0 01-6.761 1.873c-2.472 0-4.786-.684-6.76-1.873a.75.75 0 01-.364-.63l-.001-.122zM19.75 7.5a.75.75 0 00-1.5 0v2.25H16a.75.75 0 000 1.5h2.25v2.25a.75.75 0 001.5 0v-2.25H22a.75.75 0 000-1.5h-2.25V7.5z"></path>
                            </svg>
                        </button>
                    </form>
                    Do not have account? <a href="/Authentication/RegisterView">Sign Up</a>
                </div>
                <img src="~/illustration.jpg"
                     alt="Person with money"
                     width="600" />
            </div>
        </main>
        <img src="~/wave.svg" alt=""/>
    </div>
</div>
@section Scripts{ 
<script>
    
    $("#login").click(function () {
        var email = $("#email").val();
        var password = $("#password").val();
        const _requestLoginData = {
            Email: email,
            Password: password
        };
        $.ajax({
            url: "/Authentication/Verify",
            type: "POST",
            dataType: "json",
            data: { requestLoginData: _requestLoginData },
            success: function (response) {
                console.log({ response });
                if (response.isSuccess == true) {
                    console.log(response.isSuccess);
                    Toastify({
                        text: "Success to login",
                        duration: 3000
                    }).showToast();
                    window.location.href = "/Budget/BudgetIndex";
                } else {
                    console.log(response.isSuccess);
                    Toastify({
                        text: "Fail to login",
                        duration: 3000
                    }).showToast();
                    window.location.href = "/Authentication/AuthIndex";
                }
            }
        });
    });
</script>

}